{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "plugins": [
    "prettier", // `eslint-plugin-prettier`
    "@typescript-eslint/eslint-plugin"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended", // `@typescript-eslint/eslint-plugin`
    "plugin:@typescript-eslint/recommended", // `@typescript-eslint/eslint-plugin`
    "plugin:prettier/recommended", // `eslint-plugin-prettier`
    "prettier/@typescript-eslint" // `eslint-config-prettier`
  ],
  "env": {
    "node": true
  }
}
